/* All content */
* {
  box-sizing: border-box;
}

img, svg {
  max-width: 100%;
  margin: 0;
  height: auto;
}

body {
  /*font-family: Roboto;*/
  font-family: Ubuntu, sans-serif;
}

/* sub-header */
/*
header p {
  font-family: sans-serif;
}
*/

.main-splash {
  max-width: 100%;
  height: 300px;
  display: block;
  overflow: hidden;
}

svg {
  overflow: hidden;
}

.logo {
  text-align: left;
  float: left;
  margin-right: 2%;
}

.main-header {
  padding: 30px;
}

.main-title {
  float: right;
  margin-left: 2%;
  text-align: right;
  font-size: 3em;
}

.horz-bar {
  background-color: #888;
  height: 5px;
  clear: both;
  margin: 10px;
}
